<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pomodoro Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pomodoro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding">
    <div class="real-time-clock">
      <h2>{{ currentTime }}</h2>
    </div>


    <div class="timer-tomato">
      <img src="assets/tomato.png" alt="Tomato" />
      <h1 id="timer-display">{{ timerDisplay }}</h1>
    </div>

    <p>Time remaining</p>


    <div class="button-container">
      <ion-button expand="full" color="primary" id="start-stop-button" (click)="startPomodoro()">
        Start Pomodoro
      </ion-button>
    </div>


    <div class="pomodoro-cycle">
      <ion-text>
        <p>Cycles Completed: <strong>{{ cyclesCompleted }}</strong></p>
      </ion-text>
    </div>
  </div>
</ion-content>